version: '3.2'
services:
  local-dbaas-mariadb-provider:
    build:
      context: test-resources
      dockerfile: Dockerfile.mariadb
    restart: always
    environment:
      MYSQL_DATABASE: 'db'
      MYSQL_USER: 'user'
      MYSQL_PASSWORD: 'password'
      MYSQL_ROOT_PASSWORD: 'password'
    ports:
      - '33066:3306'
  mysql:
    image: amazeeio/alpine-mysql-client
    environment:
      MYSQL_PWD: 'password'
    stdin_open: true
  local-registry:
    build:
      context: test-resources
      dockerfile: Dockerfile.registry
    ports:
      - '5000:5000'
  local-broker:
    build:
      context: test-resources
      dockerfile: Dockerfile.broker
    ports:
      - '15672:15672'
      - '5672:5672'