name: coverage
on:
  push:
    branches:
    - main
permissions: {}
jobs:
  coverage:
    permissions:
      contents: write
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v4.2.2
    - uses: actions/setup-go@0aaccfd150d50ccaeb58ebd88d36e91967a5f35b # v5.4.0
      with:
        go-version: stable
    - name: Calculate coverage
      run: |
        go test -skip 'TestE2E|TestAPIs' -v -covermode=atomic -coverprofile=cover.out -coverpkg=./... ./...
    - name: Generage coverage badge
      uses: vladopajic/go-test-coverage@57e850c853caa94bdc29b98a08bf770bbb394497 # v2.18.2
      with:
        profile: cover.out
        local-prefix: github.com/${{ github.repository }}
        git-token: ${{ secrets.GITHUB_TOKEN }}
        # orphan branch for storing badges
        git-branch: badges
