name: tag to release
on:
  push:
    tags:
    - v*
permissions: {}
jobs:
  release:
    permissions:
      # create release
      contents: write
      # required by attest-build-provenance
      id-token: write
      attestations: write
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@85e6279cec87321a52edac9c87bce653a07cf6c2 # v4.2.2
      with:
        fetch-depth: 0
    - name: Create release
      run: |
        gh release create "${{ github.ref_name }}" --verify-tag --generate-notes
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    - name: Attach SBOM to release in SPDX JSON format
      # https://docs.github.com/en/rest/dependency-graph/sboms?apiVersion=2022-11-28
      run: |
        gh api \
          -H "Accept: application/vnd.github+json" \
          -H "X-GitHub-Api-Version: 2022-11-28" \
          /repos/${{ github.repository }}/dependency-graph/sbom > sbom.spdx.json
        gh release upload "${{ github.ref_name }}" sbom.spdx.json
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    - uses: actions/attest-build-provenance@db473fddc028af60658334401dc6fa3ffd8669fd # v2.3.0
      with:
        subject-path: sbom.spdx.json
